.find{
    overflow-y: visible;
    padding-bottom: 60px;
}

.mt-4, .my-4 {
    margin-top: 3.5rem !important;
    margin-left: -15.5rem !important;
    margin-right: -31rem !important;
}

.mb-4, .my-4 {
    margin-right: -31rem;
}

.row {
    box-shadow: none;
    width: 150%;
    justify-content: center
}

.col-md-4 {
    max-width: 25%;
    padding: 10px;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    gap: 100px; 
    margin-right: -31rem
}
.chart-container .chart {
    flex: 1; 
    min-width: 0; 
}
canvas {
    width: 90% !important; 
    height: 450px !important; 
}

.notification {
    display: none;
    position: fixed;
    top: 60px;
    right: 2px;
    padding: 10px 20px;
    background-color: #28a745; 
    color: white;
    border-radius: 5px;
    z-index: 1100;
}

.notification.error {
    background-color: #dc3545; 
}