.campaigns {
    padding-bottom: 60px;
    overflow-y: visible;
}

.mt-4, .my-4 {
    margin-top: 3.5rem !important;
    margin-left: -15.5rem;
    margin-right: -31rem !important;
}

.mb-4, .my-4 {
    margin-right: -31rem;
}

.row {
    box-shadow: none;
    width: 150%;
    justify-content: center
}

.col-md-4 {
    max-width: 25%;
    padding: 10px;
}

.card {
    text-align: center;
    height: 100%;
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
    gap: 10px; /* Optional: Add space between buttons */
    height: 100%; /* Ensure it stretches to full height */
    justify-items: center; /* Center buttons within their grid cells */
    align-items: center; /* Center buttons vertically within their grid cells */
}

.btn-secondary.gradient {
    background-image: linear-gradient(to left, #365F91, #112D4E);
}

.btn-container {
    display: grid;
    gap: 10px; /* Space between buttons */
    margin-top: auto;
    justify-content: center; /* Push the container to the bottom */
}

#addCampaign {
    background-color: #2D9596;
    color: #fff;
    box-shadow: 1px 1px 2px rgb(0,0,0,0.1);
}

#addCampaign:hover {
    background-color: #218838;
    color: #fff;
}

.notification {
    display: none;
    position: fixed;
    top: 60px;
    right: 18px;
    padding: 10px 20px;
    background-color: #28a745; /* Green background for success */
    color: white;
    border-radius: 5px;
    z-index: 1100;
}

.notification.error {
    background-color: #dc3545; /* Red background for error */
}

.modal-body {
    padding: 20px; /* Adequate padding around content */
}

.modal-content {
    width: 150%;
}