.navbar navbar-expand-md navbar-dark{
    position: sticky;
    top: 0;
    z-index:1000;
}
.navbar-nav .nav-item {
    margin-right: 15px; 
    font-size: large;
}

.navbar-nav .nav-item-active{
    margin-right: 15px; 
    font-size: large;
    background-color: #3F72AF;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #F9F7F7;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}