body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-color: #F9F7F7; 
    color: #112D4E; 
    font-family: Lora, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #112D4E; 
}

.btn-primary {
    background-color: #3F72AF; 
    border-color: #3F72AF;
    border-radius: 30px;
    box-shadow: 2px 0px 2px  #112D4E;
}

.btn-primary:hover {
    background-color: #365F91; 
    border-color: #365F91;
}

.btn-secondary {
    background-color: #112D4E; 
    border-color: #112D4E;
}

.btn-secondary:hover {
    background-color: #365F91; 
    border-color: #365F91;
}

.alert-warning {
    background-color: #FFD700; 
    border-color: #FFD700;
    color: #112D4E; 
}

.alert-success {
    background-color: #3F72AF; 
    border-color: #3F72AF;
    color: #F9F7F7; 
}

.jumbotron {
    background-color: #DBE2EF; 
    padding: 2rem 1rem;
}

a {
    color: #3F72AF; 
}

a:hover {
    color: #365F91; 
}

.navbar {
    background-color: rgba(17, 45, 78, 0.95); 
    box-shadow: 
    0 3px 4px rgba(17, 45, 78, 0.2), 
    0 5px 8px rgba(17, 45, 78, 0.1);
    background-image: linear-gradient(to right, #112D4E 65%, #3F72AF);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-nav .nav-link {
    color: #F9F7F7; 
}

.navbar-nav .nav-link:hover {
    color: #B8C7DE; 
}

.jumbotron {
    background-color: #DBE2EF; 
    margin-top: 20px; 
    padding: 2rem 1rem; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-dark .navbar-nav .nav-link {
    color: #F9F7F7 !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    font-weight: bold;
}

.footer {
    background-color: rgba(17, 45, 78, 0.95); 
    box-shadow:  
    0 -3px 4px rgba(17, 45, 78, 0.1),
    0 -5px 8px rgba(17, 45, 78, 0.2);
    background-image: linear-gradient(to left, #112D4E 65%, #3F72AF);
    color: #F9F7F7; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%;
    bottom:0;
    position: fixed;
    z-index:1000;
    .text-muted {
        color: #B8C7DE !important;
    }
}

.highlight {
    color: #112D4E; 
    font-weight: bold;
    background-color: #B8C7DE;
    padding: 0.1px;
}

.lead{
    text-align: justify;
}

.row{
    margin-top: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

