{% extends "navbar_after_login.html" %}

{% block title %}Influencer Dashboard{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/influencer_dashboard.css') }}">
{% endblock %}

{% block content %}
<div id="notification" class="notification"></div>
<div class="dashboard">
    <div class="profile-section">
        <div class="avatar-container">
            <div class="avatar">
                <img src="{{ url_for('static', filename='/images/influencer.jpg') }}" alt="Profile">
            </div>
            <p class="role-tag"><a href="#" id="profile-link" data-toggle="modal" data-target="#profileModal" data-user_id="{{session['user_id']}}"><b>{{username}}</b></a></p>
        </div>
        <div class="welcome-text">
            <h2>Welcome Influencer - <b>{{username}}</b> <span class="party-popper">🎉</span></h2>
            <div class="earnings-box">
                <p><span class="highlight">&nbsp;🏆 Total Earnings: <b>Rs. {{ total_earnings }} </span></b></p>
            </div>
        </div>
    </div>
    <div class="campaign-section">
        <h3>Active Campaigns</h3>
        <div class="campaign-list">
            {% if active_campaigns %}
            {% for ad_request, campaign, sponsor_name, new_amount in active_campaigns %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Sponsor : </strong> <b>{{ sponsor_name }}</b></span>
                    </div>
                    <div class="campaign-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <div class="request-section">
        <h3>New Ad Requests</h3>
        <div class="request-list">
            {% if campaign_requests %}
            {% for ad_request, campaign, sponsor_name,new_amount in campaign_requests %}
                <div class="request-tab">
                    <div class="request-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Sponsor : </strong> <b>{{ sponsor_name }}</b></span>
                    </div>
                    <div class="request-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#adModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}">View</button>
                        <button class="btn btn-accept" data-ad-request-id="{{ ad_request.id }}">Accept</button>
                        <button class="btn btn-view btn-negotiate" data-ad-request-id="{{ ad_request.id }}">Negotiate</button>
                        <button class="btn btn-reject" data-ad-request-id="{{ ad_request.id }}">Reject</button>
                    </div>
                    <div class="negotiate-section" id="negotiate-section-{{ ad_request.id }}" style="display: none;">
                        <form class="negotiation-form">
                            <label for="new-amount-{{ ad_request.id }}" style="font-weight: bold;">New Amount:</label>
                            <input type="text" id="new-amount-{{ ad_request.id }}" name="new-amount" style="border: 1px solid #1D24CA;">
                            <button type="submit">Submit</button>
                            <button type="button" class="btn btn-close">Close</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <div class="campaign-section">
        <h3>Negotiated Campaigns</h3>
        <div class="campaign-list">
            {% if negotiated_requests %}
            {% for ad_request, campaign, sponsor_name, new_amount in negotiated_requests %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Amount By Sponsor : </strong> <b>{{ ad_request.payment_amount }}</b></span>
                        <span><strong style="color:#1D24CA">Negotiated Amount : </strong> <b>{{ new_amount }}</b></span>
                    </div>
                    <div class="campaign-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View</button>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
            {% endif %}
        </div>
    </div>
    <div class="campaign-section">
        <h3>Completed Campaigns</h3>
        <div class="campaign-list">
            {% if completed_campaigns %}
            {% for ad_request, campaign, sponsor_name,new_amount in completed_campaigns %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Sponsor : </strong> <b>{{ sponsor_name }}</b></span>
                    </div>
                    <div class="campaign-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <br>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="campaignModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignModalLabel" style="font-weight: bold;">Campaign Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Campaign</th>
                                    <td id="modal-campaign-name"></td>
                                </tr>
                                <tr>
                                    <th>Sponsor</th>
                                    <td id="modal-sponsor-name"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="modal-campaign-description"></td>
                                </tr>
                                <tr>
                                    <th>Requirements</th>
                                    <td id="modal-campaign-requirements"></td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td id="modal-campaign-payment"></td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td id="modal-campaign-status"></td>
                                </tr>
                                <tr>
                                    <th>Messages</th>
                                    <td id="modal-campaign-messages"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="adModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignModalLabel" style="font-weight: bold;">Campaign Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Campaign</th>
                                    <td id="modal-campaign-name"></td>
                                </tr>
                                <tr>
                                    <th>Sponsor</th>
                                    <td id="modal-sponsor-name"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="modal-campaign-description"></td>
                                </tr>
                                <tr>
                                    <th>Requirements</th>
                                    <td id="modal-campaign-requirements"></td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td id="modal-campaign-payment"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel" style="font-weight: bold;">User Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Username</th>
                                    <td>{{ username }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td id="modal-email"></td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>Influencer</td>
                                </tr>
                                <tr>
                                    <th>Followers</th>
                                    <td id="modal-followers"></td>
                                </tr>
                                <tr>
                                    <th>Platforms</th>
                                    <td id="modal-platforms">Youtube</td>
                                </tr>
                                <tr>
                                    <th>Niches</th>
                                    <td id="modal-niches">Cooking</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <button type="button" class="btn btn-edit" data-toggle="modal" data-target="#editModal">Edit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel" style="font-weight: bold;">Edit Influencer Profiles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Platform</th>
                                <th style="text-align: center;">Niche</th>
                                <th style="text-align: center;">Followers</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="profile-table-body">
                            <!-- Table rows will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>
{% endblock %}
