{% extends "navbar.html" %}

{% block title %}Log In{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/login_styles.css') }}">
{% endblock %}

{% block content %}

  <div class="row justify-content-center" style="margin-top: 20px;">
    <div class="col-md-6">
      <h2>Log In</h2>
      <hr class="my-4">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            {% if message.startswith('Congratulations') %}
              <li class="flash-message success-message"> 🎉 {{ message| safe }} </li>
            {% else %}
              <li class="flash-message warning-message"> ⚠️ {{ message }} </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class="form-control") }}
          <p style="text-align: right; color: #3F72AF;">Forgot Password?</p>
        </div>
        <div class="form-group form-check">
          {{ form.remember_me(class="form-check-input") }}
          <label class="form-check-label" for="remember_me">Remember Me</label>
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>
        <hr class="my-4">
        <div class="form-group">
          <p>New User? <a href="register">Click Here to Create Account</a></p>
        </div>
        <br>
      </form>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <img src="{{ url_for('static', filename='images/login.png') }}" class="img-fluid" alt="Login">
    </div>
  </div>
{% endblock %}
