{% extends "navbar_after_login.html" %}

{% block title %}Sponsor Dashboard{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/sponsor_dashboard.css') }}">
{% endblock %}

{% block content %}
<div id="notification" class="notification"></div>
<div class="dashboard">
    <div class="profile-section">
        <div class="avatar-container">
            <div class="avatar">
                <img src="{{ url_for('static', filename='/images/influencer.jpg') }}" alt="Profile">
            </div>
            <p class="role-tag"><a href="#" id="profile-link" data-toggle="modal" data-target="#profileModal" data-user_id="{{session['user_id']}}"><b>{{username}}</b></a></p>
        </div>
        <div class="welcome-text">
            <h2>Welcome Sponsor - <b>{{username}}</b> <span class="party-popper">🎉</span></h2>
        </div>
    </div>
    <div class="campaign-section">
        <h3>Accepted Ad Requests</h3>
        <div class="campaign-list">
            {% if accepted_requests %}
            {% for ad_request, campaign, influencer_name, new_amount in accepted_requests %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Influencer : </strong> <b>{{ influencer_name }}</b></span>
                    </div>
                    <div class="campaign-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{influencer_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <div class="request-section">
        <h3>Negotiation Requests</h3>
        <div class="request-list">
            {% if negotiated_requests %}
            {% for ad_request, campaign, sponsor_name,new_amount in negotiated_requests %}
                <div class="request-tab">
                    <div class="request-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Influencer : </strong> <b>{{ influencer_name }}</b></span>
                        <span><strong style="color:#1D24CA">Quoted Amount : </strong> <b>{{ ad_request.payment_amount }}</b></span>
                        <span><strong style="color:#1D24CA">Negotiated Amount : </strong> <b>{{ new_amount }}</b></span>
                    </div>
                    <div class="request-actions">
                        <button class="btn btn-view" data-toggle="modal" data-target="#adModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}">View</button>
                        <div id="button-container-negotiation">
                          <button class="btn btn-accept" data-ad-request-id="{{ ad_request.id }}">Accept</button>
                          <button class="btn btn-reject" data-ad-request-id="{{ ad_request.id }}">Reject</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <div class="campaign-section">
        <h3>Rejected Requests</h3>
        <div class="campaign-list">
            {% if rejected_requests %}
            {% for ad_request, campaign, sponsor_name, new_amount in rejected_requests %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Amount By Sponsor : </strong> <b>{{ ad_request.payment_amount }}</b></span>
                    </div>
                    <div class="campaign-actions">
                      <div id="button-container-rejected">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View</button>
                        <button class="btn btn-edit" 
                                data-ad-request-id="{{ ad_request.id }}" 
                                data-campaign-name="test" 
                                data-influencer-id="{{ ad_request.influencer_id }}" 
                                data-messages="{{ ad_request.messages }}" 
                                data-requirements="{{ ad_request.requirements }}" 
                                data-payment-amount="{{ ad_request.payment_amount }}">Edit
                        </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
            {% endif %}
        </div>
    </div>
    <div class="campaign-section">
        <h3>Pending Requests</h3>
        <div class="campaign-list">
            {% if pending_requests %}
            {% for ad_request, campaign, sponsor_name,new_amount in pending_requests %}
                <div class="campaign-tab">
                    <div class="campaign-info">
                        <span><strong style="color:#1D24CA">Campaign : </strong> <b>{{ campaign.name }}</b></span>
                        <span><strong style="color:#1D24CA">Sponsor : </strong> <b>{{ sponsor_name }}</b></span>
                    </div>
                    <div class="campaign-actions">
                      <div id="button-container-pending">
                        <button class="btn btn-view" data-toggle="modal" data-target="#campaignModal" 
                                data-campaign-name="{{ campaign.name }}"
                                data-sponsor-name="{{sponsor_name}}"
                                data-campaign-description="{{ campaign.description }}"
                                data-campaign-requirements="{{ ad_request.requirements }}"
                                data-campaign-payment="{{ ad_request.payment_amount }}"
                                data-campaign-status="{{ ad_request.status }}"
                                data-campaign-messages="{{ ad_request.messages }}">View
                        </button>
                        <button class="btn btn-edit" 
                                        data-ad-request-id="{{ ad_request.id }}" 
                                        data-campaign-name="test" 
                                        data-influencer-id="{{ ad_request.influencer_id }}" 
                                        data-messages="{{ ad_request.messages }}" 
                                        data-requirements="{{ ad_request.requirements }}" 
                                        data-payment-amount="{{ ad_request.payment_amount }}">Edit
                        </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center; font-size: large; font-weight: bold;">None to Show!</p>
                {% endif %}
        </div>
    </div>
    <br>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="campaignModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignModalLabel" style="font-weight: bold;">Ad Request Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Campaign</th>
                                    <td id="modal-campaign-name"></td>
                                </tr>
                                <tr>
                                    <th>Sponsor</th>
                                    <td id="modal-sponsor-name"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="modal-campaign-description"></td>
                                </tr>
                                <tr>
                                    <th>Requirements</th>
                                    <td id="modal-campaign-requirements"></td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td id="modal-campaign-payment"></td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td id="modal-campaign-status"></td>
                                </tr>
                                <tr>
                                    <th>Messages</th>
                                    <td id="modal-campaign-messages"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="adModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="campaignModalLabel" style="font-weight: bold;">Ad Request Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Campaign</th>
                                    <td id="modal-campaign-name"></td>
                                </tr>
                                <tr>
                                    <th>Sponsor</th>
                                    <td id="modal-sponsor-name"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="modal-campaign-description"></td>
                                </tr>
                                <tr>
                                    <th>Requirements</th>
                                    <td id="modal-campaign-requirements"></td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td id="modal-campaign-payment"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel" style="font-weight: bold;">User Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Username</th>
                                    <td>{{ username }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td id="modal-email"></td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>Sponsor</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal fade" id="editAdRequestModal" tabindex="-1" role="dialog" aria-labelledby="editAdRequestModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="editAdRequestModalLabel">Edit Campaign Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form id="editForm">
                      <div class="form-group">
                          <label for="adRequestId">Ad Request ID</label>
                          <input type="text" class="form-control" id="adRequestId" readonly>
                      </div>
                      <div class="form-group">
                          <label for="campaignName">Campaign Name</label>
                          <input type="text" class="form-control" id="campaignName" readonly>
                      </div>
                      <div class="form-group">
                          <label for="influencer">Influencer</label>
                          <select class="form-control" id="influencer">
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="messages">Messages</label>
                          <textarea class="form-control" id="messages" rows="3"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="requirements">Requirements</label>
                          <input type="text" class="form-control" id="requirements">
                      </div>
                      <div class="form-group">
                          <label for="payment">Payment</label>
                          <input type="text" class="form-control" id="payment">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  
</div>
{% endblock %}

{% set show_campaigns_link = (role == 'sponsor') %}
